.e-gridlist .e-tbar-btn.e-btn,
.e-gridlist .e-btn  {
  box-shadow: none;
  text-transform: none;
}

.e-ghidden {
  opacity: 0.35;
}

.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}


/* Context Menu target */
//#target {
//  border: 1px dashed;
//  height: 150px;
//  padding: 10px;
//  position: relative;
//  text-align: justify;
//  color: gray;
//  user-select: none;
//}
